<style type="text/css">
td.fieldBgColor {
	background-color: #eeeffe;
}
td {
	border:1px solid #ccc;
	}
</style>
	<div id="issueSummaryView">
		<h1>
			<span class="summary-view">
				<?php echo wfMsg('summary') . ' ' . wfMsg('view');   ?>
			</span>
		</h1>
	</div>
<h2><span class="editsection" style="float:right;">[<a href="<?php echo $this->listUrl; ?>"><?php echo wfMsg('back'); ?></a>]</span> <span class="mw-headline">#<?php echo $this->issue->issue_id . ': ' . $this->issue->title; ?></span></h2>
<table style="border:1px solid #ccc; width:100%;">
  <tr>
    <td width="150" align="left" valign="top" class="fieldBgColor">Type</td>
    <td style="background-color: #<?php echo $this->typeArray[$this->issue->type]['colour']; ?>"><?php echo $this->typeArray[$this->issue->type]['name']; ?></td>
  </tr>
  <tr>
    <td width="150" align="left" valign="top" class="fieldBgColor">Status</td>
    <td style="background-color: #<?php echo $this->statusArray[$this->issue->status]['colour']; ?>"><?php echo $this->statusArray[$this->issue->status]['name']; ?></td>
  </tr>
  <tr>
    <td width="150" align="left" valign="top" class="fieldBgColor">Summary</td>
    <td><?php echo $this->issue->summary; ?></td>
  </tr>
  <tr>
    <td width="150" align="left" valign="top" class="fieldBgColor">Assignee</td>
    <td><?php echo $this->issue->assignee; ?></td>
  </tr>
  <tr>
    <td width="150" align="left" valign="top" class="fieldBgColor">Reporter</td>
    <td><?php echo $this->issue->user_name; ?></td>
  </tr>
  <tr>
    <td width="150" align="left" valign="top" class="fieldBgColor">Date </td>
    <td><?php echo date("d-M-Y H:i:s", strtotime($this->issue->date_created)); ?></td>
  </tr>
</table>
<div id="issuetracker-buttons" class="floatright">
<input type="submit" class="button_active" value="Back" onclick="location.href='<?php echo $this->listUrl; ?>';">
<?php if ($this->isLoggedIn): ?>
<input type="submit" class="button_active" value="Edit" onclick="location.href='<?php echo $this->editUrl; ?>';">
<?php endif; ?>
<?php if ($this->hasArchivePerms): ?>
<input type="submit" class="button_active" value="Archive" onclick="location.href='<?php echo $this->deleteUrl; ?>';">
<?php endif; ?>
<?php if ($this->hasUnArchivePerms): ?>
<input type="submit" class="button_active" value="UnArchive" onclick="location.href='<?php echo $this->undeleteUrl; ?>';">
<?php endif; ?>
</div>